<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m001_behit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,344},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>m001_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,392},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>m001_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,284},{73,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,58}}</string>
                <key>sourceSize</key>
                <string>{73,58}</string>
            </dict>
            <key>m001_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,201},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>m001_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,158},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>m001_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,462},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>m001_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,243},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>m001_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,462},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>m001_norAttack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,422},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>m001_norAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>m001_norAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{61,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,81}}</string>
                <key>sourceSize</key>
                <string>{61,81}</string>
            </dict>
            <key>m001_norAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,158},{94,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{94,84}</string>
            </dict>
            <key>m001_norAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>m001_norAttack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{99,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{99,73}</string>
            </dict>
            <key>m001_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,73},{119,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,83}}</string>
                <key>sourceSize</key>
                <string>{119,83}</string>
            </dict>
            <key>m001_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>m001_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>m001_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>m001_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,73},{119,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,83}}</string>
                <key>sourceSize</key>
                <string>{119,83}</string>
            </dict>
            <key>m001_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>m001_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,69}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>m001_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>m001_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,315},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>m001_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>m001_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>m001_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,244},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>m001_stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,315},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>m001_stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>m001_stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>m001_stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,244},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m001.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f406c25878f7806c993de5f4d16b84:1/1$</string>
            <key>textureFileName</key>
            <string>m001.png</string>
        </dict>
    </dict>
</plist>
