<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m004_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,61}}</string>
                <key>sourceSize</key>
                <string>{188,61}</string>
            </dict>
            <key>m004_norAttack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{90,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,175}}</string>
                <key>sourceSize</key>
                <string>{90,175}</string>
            </dict>
            <key>m004_norAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{109,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,173}}</string>
                <key>sourceSize</key>
                <string>{109,173}</string>
            </dict>
            <key>m004_norAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,338},{127,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,130}}</string>
                <key>sourceSize</key>
                <string>{127,130}</string>
            </dict>
            <key>m004_norAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{137,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>m004_norAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{136,138}</string>
            </dict>
            <key>m004_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,141},{117,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{119,132}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,338},{123,130}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,221},{115,136}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,141},{117,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{119,132}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,132}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,338},{123,130}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,221},{115,136}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>m004_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>m004_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>m004_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>m004_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>m004_stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>m004_stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
            <key>m004_stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,94},{125,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,144}}</string>
                <key>sourceSize</key>
                <string>{125,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m003.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35752aa156021700721dea0d4cbe08db:1/1$</string>
            <key>textureFileName</key>
            <string>m003.png</string>
        </dict>
    </dict>
</plist>
