<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m003_behit.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,340},{134,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,127}}</string>
                <key>sourceSize</key>
                <string>{134,127}</string>
            </dict>
            <key>m003_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{192,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,59}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>m003_norAttack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,196},{142,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,145}}</string>
                <key>sourceSize</key>
                <string>{142,145}</string>
            </dict>
            <key>m003_norAttack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{133,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,150}}</string>
                <key>sourceSize</key>
                <string>{133,150}</string>
            </dict>
            <key>m003_norAttack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{134,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,151}}</string>
                <key>sourceSize</key>
                <string>{134,151}</string>
            </dict>
            <key>m003_norAttack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,140}}</string>
                <key>sourceSize</key>
                <string>{194,140}</string>
            </dict>
            <key>m003_norAttack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,138}}</string>
                <key>sourceSize</key>
                <string>{194,138}</string>
            </dict>
            <key>m003_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,287},{144,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{138,125}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,125}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,422},{134,125}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{132,133}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,287},{144,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{138,125}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,125}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,422},{134,125}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{132,133}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{144,133}</string>
            </dict>
            <key>m003_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>m003_stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m004.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1280b5ee5da015299009c7d96b5b56ec:1/1$</string>
            <key>textureFileName</key>
            <string>m004.png</string>
        </dict>
    </dict>
</plist>
