<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,274},{104,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,136}</string>
            </dict>
            <key>m005_behit.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,137},{110,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,135}}</string>
                <key>sourceSize</key>
                <string>{110,135}</string>
            </dict>
            <key>m005_norattack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{110,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,206}}</string>
                <key>sourceSize</key>
                <string>{110,206}</string>
            </dict>
            <key>m005_norattack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{133,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,206}}</string>
                <key>sourceSize</key>
                <string>{133,206}</string>
            </dict>
            <key>m005_norattack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,209}}</string>
                <key>sourceSize</key>
                <string>{131,209}</string>
            </dict>
            <key>m005_shoot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{142,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,148}}</string>
                <key>sourceSize</key>
                <string>{142,148}</string>
            </dict>
            <key>m005_shoot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,423},{141,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,146}}</string>
                <key>sourceSize</key>
                <string>{141,146}</string>
            </dict>
            <key>m005_shoot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,412},{145,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,148}}</string>
                <key>sourceSize</key>
                <string>{145,148}</string>
            </dict>
            <key>m005_shoot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>m005_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,331},{90,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{90,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,235},{94,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,137},{96,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,331},{90,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{90,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,235},{94,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>m005_stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,137},{96,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m005.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1a3e8c81a2d83cdd675b71c4f2aa348:1/1$</string>
            <key>textureFileName</key>
            <string>m005.png</string>
        </dict>
    </dict>
</plist>
