<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1hero_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{130,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,146}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>1hero_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,147}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>1hero_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{132,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,146}}</string>
                <key>sourceSize</key>
                <string>{132,146}</string>
            </dict>
            <key>1hero_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,299},{126,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,145}}</string>
                <key>sourceSize</key>
                <string>{126,145}</string>
            </dict>
            <key>1hero_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{132,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,141}}</string>
                <key>sourceSize</key>
                <string>{132,141}</string>
            </dict>
            <key>1hero_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,151},{133,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,144}}</string>
                <key>sourceSize</key>
                <string>{133,144}</string>
            </dict>
            <key>1hero_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,297},{130,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{130,141}</string>
            </dict>
            <key>1hero_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{130,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,144}}</string>
                <key>sourceSize</key>
                <string>{130,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1hero_run.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be99b2526d2d7b9b93a8f852ee757e0d:1/1$</string>
            <key>textureFileName</key>
            <string>1hero_run.png</string>
        </dict>
    </dict>
</plist>
