<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S082_rageskill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,284},{150,159}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{150,159}}</string>
                <key>sourceSize</key>
                <string>{170,175}</string>
            </dict>
            <key>S082_rageskill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{148,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{148,164}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>S082_rageskill_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{168,146}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{168,146}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{170,150}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{170,150}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{164,158}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{164,158}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,152},{160,148}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{160,148}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,201},{152,146}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{152,146}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,302},{150,146}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{150,146}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{150,146}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{150,146}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{136,154}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{136,154}}</string>
                <key>sourceSize</key>
                <string>{174,176}</string>
            </dict>
            <key>S082_rageskill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,489},{154,148}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{154,148}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>S082_rageskill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,389},{155,132}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{155,132}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>S082_rageskill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,355},{163,132}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{163,132}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>S082_rageskill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,255},{163,132}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{163,132}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>S082_rageskill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,221},{165,132}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{165,132}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>S082_rageskill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,121},{165,132}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,39},{165,132}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>S082_rageskill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,150},{164,132}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{164,132}}</string>
                <key>sourceSize</key>
                <string>{178,176}</string>
            </dict>
            <key>S082_rageskill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,355},{145,150}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{145,150}}</string>
                <key>sourceSize</key>
                <string>{165,176}</string>
            </dict>
            <key>S082_rageskill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,141},{40,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,13}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>S082_rageskill_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{180,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{184,90}</string>
            </dict>
            <key>S082_rageskill_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{175,117}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,117}}</string>
                <key>sourceSize</key>
                <string>{177,117}</string>
            </dict>
            <key>S082_rageskill_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{188,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,112}}</string>
                <key>sourceSize</key>
                <string>{188,114}</string>
            </dict>
            <key>S082_rageskill_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,116},{172,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,103}}</string>
                <key>sourceSize</key>
                <string>{172,103}</string>
            </dict>
            <key>S082_rageskill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,87},{52,21}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,21}}</string>
                <key>sourceSize</key>
                <string>{54,23}</string>
            </dict>
            <key>S082_rageskill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,523},{62,57}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>S082_rageskill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,90},{75,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>S082_rageskill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,147},{67,52}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{67,52}}</string>
                <key>sourceSize</key>
                <string>{69,58}</string>
            </dict>
            <key>S082_rageskill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,302},{57,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>S082_rageskill_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{93,86}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>S082_rageskill_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,436},{140,108}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{140,108}}</string>
                <key>sourceSize</key>
                <string>{142,126}</string>
            </dict>
            <key>S082_rageskill_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,83}}</string>
                <key>sourceSize</key>
                <string>{214,85}</string>
            </dict>
            <key>S082_rageskill_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,87},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S082_rageskill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01856cff06aab07a6ed58e70680c42ca:1/1$</string>
            <key>textureFileName</key>
            <string>S082_rageskill.png</string>
        </dict>
    </dict>
</plist>
