<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S082_attacks_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{150,159}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{150,159}}</string>
                <key>sourceSize</key>
                <string>{170,175}</string>
            </dict>
            <key>S082_attacks_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,433},{149,165}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{149,165}}</string>
                <key>sourceSize</key>
                <string>{167,179}</string>
            </dict>
            <key>S082_attacks_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{260,194}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{260,194}}</string>
                <key>sourceSize</key>
                <string>{288,204}</string>
            </dict>
            <key>S082_attacks_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,198},{237,233}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{237,233}}</string>
                <key>sourceSize</key>
                <string>{249,245}</string>
            </dict>
            <key>S082_attacks_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,142},{242,150}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{242,150}}</string>
                <key>sourceSize</key>
                <string>{258,166}</string>
            </dict>
            <key>S082_attacks_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,217},{236,148}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{236,148}}</string>
                <key>sourceSize</key>
                <string>{258,166}</string>
            </dict>
            <key>S082_attacks_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,294},{234,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{234,154}}</string>
                <key>sourceSize</key>
                <string>{258,166}</string>
            </dict>
            <key>S082_attacks_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,150}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{276,150}}</string>
                <key>sourceSize</key>
                <string>{300,166}</string>
            </dict>
            <key>S082_attacks_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{260,150}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{260,150}}</string>
                <key>sourceSize</key>
                <string>{300,166}</string>
            </dict>
            <key>S082_attacks_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{248,138}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{248,138}}</string>
                <key>sourceSize</key>
                <string>{300,166}</string>
            </dict>
            <key>S082_attacks_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{146,150}}</string>
                <key>offset</key>
                <string>{-45,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{146,150}}</string>
                <key>sourceSize</key>
                <string>{300,166}</string>
            </dict>
            <key>S082_attacks_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,450},{140,156}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{140,156}}</string>
                <key>sourceSize</key>
                <string>{152,166}</string>
            </dict>
            <key>S082_attacks_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,584},{155,147}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{155,147}}</string>
                <key>sourceSize</key>
                <string>{169,179}</string>
            </dict>
            <key>S082_attacks_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,580},{151,133}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{151,133}}</string>
                <key>sourceSize</key>
                <string>{169,179}</string>
            </dict>
            <key>S082_attacks_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,514},{149,131}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{149,131}}</string>
                <key>sourceSize</key>
                <string>{169,179}</string>
            </dict>
            <key>S082_attacks_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,592},{147,131}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{147,131}}</string>
                <key>sourceSize</key>
                <string>{169,179}</string>
            </dict>
            <key>S082_attacks_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,433},{145,151}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{145,151}}</string>
                <key>sourceSize</key>
                <string>{159,179}</string>
            </dict>
            <key>S082_attacks_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{202,136}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{202,136}}</string>
                <key>sourceSize</key>
                <string>{212,148}</string>
            </dict>
            <key>S082_attacks_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,367},{210,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{210,145}}</string>
                <key>sourceSize</key>
                <string>{220,155}</string>
            </dict>
            <key>S082_attacks_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{213,221}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{213,221}}</string>
                <key>sourceSize</key>
                <string>{227,237}</string>
            </dict>
            <key>S082_attacks_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,306},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>S082_attacks_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,578},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>S082_attacks_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,450},{67,65}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{67,65}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>S082_attacks_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,643},{63,57}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{63,57}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>S082_attacks_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,367},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>S082_attacks_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,514},{116,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,62}}</string>
                <key>sourceSize</key>
                <string>{116,62}</string>
            </dict>
            <key>S082_attacks_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,517},{124,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,64}}</string>
                <key>sourceSize</key>
                <string>{124,64}</string>
            </dict>
            <key>S082_attacks_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,198},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>S082_attacks_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,154},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S082_attacks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2592c3ee233a42038098e5db3508186c:1/1$</string>
            <key>textureFileName</key>
            <string>S082_attacks.png</string>
        </dict>
    </dict>
</plist>
