<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission_1001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{590,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,547}}</string>
                <key>sourceSize</key>
                <string>{590,547}</string>
            </dict>
            <key>mission_1001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1488},{346,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,252}}</string>
                <key>sourceSize</key>
                <string>{346,252}</string>
            </dict>
            <key>mission_1001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,551},{519,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,235}}</string>
                <key>sourceSize</key>
                <string>{519,235}</string>
            </dict>
            <key>mission_1001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1138},{161,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,348}}</string>
                <key>sourceSize</key>
                <string>{161,348}</string>
            </dict>
            <key>mission_1001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,524},{128,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,197}}</string>
                <key>sourceSize</key>
                <string>{128,197}</string>
            </dict>
            <key>mission_1001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,788},{469,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,458}}</string>
                <key>sourceSize</key>
                <string>{469,458}</string>
            </dict>
            <key>mission_1001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,551},{103,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,224}}</string>
                <key>sourceSize</key>
                <string>{103,224}</string>
            </dict>
            <key>mission_1001_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1488},{262,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,296}}</string>
                <key>sourceSize</key>
                <string>{262,296}</string>
            </dict>
            <key>mission_1001_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{252,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,346}}</string>
                <key>sourceSize</key>
                <string>{252,346}</string>
            </dict>
            <key>mission_1001_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,654},{504,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,193}}</string>
                <key>sourceSize</key>
                <string>{504,193}</string>
            </dict>
            <key>mission_1001_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,788},{348,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,162}}</string>
                <key>sourceSize</key>
                <string>{348,162}</string>
            </dict>
            <key>mission_1001_far.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{1200,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,359}}</string>
                <key>sourceSize</key>
                <string>{1200,359}</string>
            </dict>
            <key>mission_1001_far1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1400,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1400,520}}</string>
                <key>sourceSize</key>
                <string>{1400,520}</string>
            </dict>
            <key>mission_1001_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{1200,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,480}}</string>
                <key>sourceSize</key>
                <string>{1200,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mission_1001.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b87defc539ac1eb63212006183cc36:1/1$</string>
            <key>textureFileName</key>
            <string>mission_1001.png</string>
        </dict>
    </dict>
</plist>
