<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2hero_ circle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,687},{67,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,128}}</string>
                <key>sourceSize</key>
                <string>{67,128}</string>
            </dict>
            <key>2hero_ circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{104,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,131}}</string>
                <key>sourceSize</key>
                <string>{104,131}</string>
            </dict>
            <key>2hero_ circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,603},{82,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,127}}</string>
                <key>sourceSize</key>
                <string>{82,127}</string>
            </dict>
            <key>2hero_ circle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,497},{104,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,121}}</string>
                <key>sourceSize</key>
                <string>{104,121}</string>
            </dict>
            <key>2hero_ circle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,733},{104,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,97}}</string>
                <key>sourceSize</key>
                <string>{104,97}</string>
            </dict>
            <key>2hero_ circle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{160,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,103}}</string>
                <key>sourceSize</key>
                <string>{160,103}</string>
            </dict>
            <key>2hero_ circle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,848},{154,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,102}}</string>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
            <key>2hero_ rotate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{70,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,141}}</string>
                <key>sourceSize</key>
                <string>{70,141}</string>
            </dict>
            <key>2hero_ rotate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{75,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,141}}</string>
                <key>sourceSize</key>
                <string>{75,141}</string>
            </dict>
            <key>2hero_ rotate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,830},{116,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,133}}</string>
                <key>sourceSize</key>
                <string>{116,133}</string>
            </dict>
            <key>2hero_ rotate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,699},{96,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,144}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>2hero_attfloor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{112,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{112,138}</string>
            </dict>
            <key>2hero_attfloor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,695},{122,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,133}}</string>
                <key>sourceSize</key>
                <string>{122,133}</string>
            </dict>
            <key>2hero_jumpatt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,839},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>2hero_jumpatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,603},{91,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,103}}</string>
                <key>sourceSize</key>
                <string>{91,103}</string>
            </dict>
            <key>2hero_jumpatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,405},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,306},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,310},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,68},{114,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,33}}</string>
                <key>sourceSize</key>
                <string>{114,33}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,699},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,845},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{171,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,138}}</string>
                <key>sourceSize</key>
                <string>{171,138}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,603},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>bullet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,311},{50,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,12}}</string>
                <key>sourceSize</key>
                <string>{50,12}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,327},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,14}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,261},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,603},{128,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,79}}</string>
                <key>sourceSize</key>
                <string>{128,79}</string>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,848},{146,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,81}}</string>
                <key>sourceSize</key>
                <string>{146,81}</string>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,233},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>miseffect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{347,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,293}}</string>
                <key>sourceSize</key>
                <string>{347,293}</string>
            </dict>
            <key>miseffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,302}}</string>
                <key>sourceSize</key>
                <string>{368,302}</string>
            </dict>
            <key>miseffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,362},{311,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,319}}</string>
                <key>sourceSize</key>
                <string>{311,319}</string>
            </dict>
            <key>miseffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,297},{304,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,321}}</string>
                <key>sourceSize</key>
                <string>{304,321}</string>
            </dict>
            <key>miseffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{263,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,307}}</string>
                <key>sourceSize</key>
                <string>{263,307}</string>
            </dict>
            <key>rotate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,184},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rotate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>shoot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,311},{39,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,15}}</string>
                <key>sourceSize</key>
                <string>{39,15}</string>
            </dict>
            <key>shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,297},{63,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,22}}</string>
                <key>sourceSize</key>
                <string>{63,22}</string>
            </dict>
            <key>shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,306},{148,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,97}}</string>
                <key>sourceSize</key>
                <string>{148,97}</string>
            </dict>
            <key>shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,35},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>shoot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,596},{111,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,101}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>shoot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,218},{31,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,13}}</string>
                <key>sourceSize</key>
                <string>{31,13}</string>
            </dict>
            <key>shoot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,311},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>shoot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,497},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>shoot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,817},{129,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,65}}</string>
                <key>sourceSize</key>
                <string>{129,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2hero_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51dea5b37bf696a784f8bb9e245e50b8:1/1$</string>
            <key>textureFileName</key>
            <string>2hero_1.png</string>
        </dict>
    </dict>
</plist>
