<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yld_daiji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{180,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>yld_daiji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{186,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,193}}</string>
                <key>sourceSize</key>
                <string>{186,193}</string>
            </dict>
            <key>yld_daiji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,612},{190,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,188}}</string>
                <key>sourceSize</key>
                <string>{190,188}</string>
            </dict>
            <key>yld_daiji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,802},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>yld_gongji1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,795},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>yld_gongji1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,862},{177,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,158}}</string>
                <key>sourceSize</key>
                <string>{177,158}</string>
            </dict>
            <key>yld_gongji1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,201}}</string>
                <key>sourceSize</key>
                <string>{208,201}</string>
            </dict>
            <key>yld_gongji1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{173,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,271}}</string>
                <key>sourceSize</key>
                <string>{173,271}</string>
            </dict>
            <key>yld_gongji1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,413},{210,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,197}}</string>
                <key>sourceSize</key>
                <string>{210,197}</string>
            </dict>
            <key>yld_gongji1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,200},{211,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,171}}</string>
                <key>sourceSize</key>
                <string>{211,171}</string>
            </dict>
            <key>yld_gongji1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,477},{185,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,191}}</string>
                <key>sourceSize</key>
                <string>{185,191}</string>
            </dict>
            <key>yld_pao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{289,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,168}}</string>
                <key>sourceSize</key>
                <string>{289,168}</string>
            </dict>
            <key>yld_pao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,293},{227,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,182}}</string>
                <key>sourceSize</key>
                <string>{227,182}</string>
            </dict>
            <key>yld_shengli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,176},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>yld_shengli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{197,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,193}}</string>
                <key>sourceSize</key>
                <string>{197,193}</string>
            </dict>
            <key>yld_shengli_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{211,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,196}}</string>
                <key>sourceSize</key>
                <string>{211,196}</string>
            </dict>
            <key>yld_shengli_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,670},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>yld_shengli_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,612},{187,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,181}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>yld_shengli_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,362},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>yld_shouji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,538},{173,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,142}}</string>
                <key>sourceSize</key>
                <string>{173,142}</string>
            </dict>
            <key>yld_xuanyun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{151,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,175}}</string>
                <key>sourceSize</key>
                <string>{151,175}</string>
            </dict>
            <key>yld_xuanyun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,197},{163,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,202}}</string>
                <key>sourceSize</key>
                <string>{163,202}</string>
            </dict>
            <key>yld_xuanyun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{172,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,195}}</string>
                <key>sourceSize</key>
                <string>{172,195}</string>
            </dict>
            <key>yld_xuanyun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,795},{163,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,177}}</string>
                <key>sourceSize</key>
                <string>{163,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2203.png</string>
            <key>size</key>
            <string>{991,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c3a0e4eda0a82fea4717537a0be3ea$</string>
            <key>textureFileName</key>
            <string>2203.png</string>
        </dict>
    </dict>
</plist>
